@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-icon">
    <h1>saIOT</h1>
@using (Html.BeginForm("SignIn", "Account"))
{
    <div class="row">
        <div class="col-xs-2 pull-bottom">
            <i class=" fa fa-cloud fa-6">
            </i>
        </div>
        <div class="col-xs-8 pull-bottom">
            <input type="submit" value="Log In" class="peter-river-flat-button" style="vertical-align: bottom"/>
        </div>
    </div>


}
</div>

